<header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
            <!-- Alteração aqui: Atualize os links para produtos -->
            <li routerLinkActive="active">
                <a [routerLink]="['/products']">Produtos</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/mentors']">Mentores</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/students']">Alunos</a>
            </li>
        </ul>
    </nav>
</header>
