<div class="create-supplier-form">
  <h2>Criar Fornecedor</h2>
  
  <form (submit)="createSupplier()">
    <!-- Inputs para criar fornecedor -->
    Nome:
    <input type="text" [(ngModel)]="supplier.name" name="name" placeholder="Nome" required><br>
    Email:
    <input type="email" [(ngModel)]="supplier.email" name="email" placeholder="Email" required><br>
    CNPJ:
    <input type="text" [(ngModel)]="supplier.cnpj" name="cnpj" placeholder="CNPJ" pattern="[0-9]{2}\.[0-9]{3}\.[0-9]{3}/[0-9]{4}-[0-9]{2}" required><br>
    Telefone:
    <input type="text" [(ngModel)]="supplier.phone" name="phone" placeholder="Telefone" required><br>

    <!-- Selecionar produtos -->
    Produto:
    <select [(ngModel)]="supplier.product" name="product" required>
      <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
    </select><br>

    <button type="submit">Criar Fornecedor</button>
  </form>
</div>
