<div class="container mt-4">
    <div class="card">
        <h1>Cadastro de Fornecedor</h1>
        <form>
            <div class="form-group">
                <label>Nome do fornecedor</label>
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control"
                    id="name" placeholder="Informe o nome">
            </div>
            <div class="form-group">
                <label>Endereço</label>
                <input type="text" class="form-control" [(ngModel)]="address" [ngModelOptions]="{standalone: true}"
                    id="address" placeholder="Informe o endereço">
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" class="form-control" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"
                    id="phone" placeholder="Informe o número">
            </div>
            <button type="submit" (click)="save()" class="btn btn-primary">Cadastrar fornecedor</button>
        </form>
    </div>
</div>
<div class="container mt-4">
    <h1>Tabela de Fornecedores</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome do fornecedor</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let FornecedorItem of FornecedorArray">
                <td class="bold-name">{{ FornecedorItem.name | uppercase }}</td>
                <td>{{ FornecedorItem.address }}</td>
                <td>{{ FornecedorItem.phone }}</td>
                <td>
                    <button type="button" class="btn btn-success" (click)="setUpdate(FornecedorItem)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="setDelete(FornecedorItem)">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>