<div class="order-form">
  <h1>Criar Pedido</h1>
  <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
    
      Nome:
      <input type="text" formControlName="name" placeholder="Nome">
      <div *ngIf="orderForm.get('name')?.touched && orderForm.get('name')?.invalid">
        <p class="error-message" *ngIf="orderForm.get('name')?.errors?.['required']">Nome é obrigatório</p>
      </div> <br>
    
      E-mail:
      <input type="email" formControlName="email" placeholder="Email">
      <div *ngIf="orderForm.get('email')?.touched && orderForm.get('email')?.invalid">
        <p class="error-message" *ngIf="orderForm.get('email')?.errors?.['required']">E-mail é obrigatório</p>
        <p class="error-message" *ngIf="orderForm.get('email')?.errors?.['email']">E-mail inválido</p>
      </div> <br>
    
      CPF:
      <input type="text" formControlName="cpf" placeholder="CPF">
      <div *ngIf="orderForm.get('cpf')?.touched && orderForm.get('cpf')?.invalid">
        <p class="error-message" *ngIf="orderForm.get('cpf')?.errors?.['required']">CPF é obrigatório</p>
        <p class="error-message" *ngIf="orderForm.get('cpf')?.errors?.['pattern']">CPF inválido: deve estar no formato xxx.xxx.xxx-xx</p>
      </div> <br>
    
      Produto:
      <select formControlName="product" (change)="onProductChange(orderForm.get('product')?.value)">
        <option *ngFor="let product of products" [value]="product._id">{{ product.name }}</option>
      </select>
      <div *ngIf="orderForm.get('product')?.touched && orderForm.get('product')?.invalid">
        <p class="error-message" *ngIf="orderForm.get('product')?.errors?.['required']">Produto é obrigatório</p>
      </div> <br>
    
    <label *ngIf="suppliers.length > 0">
      Fornecedor:
      <select formControlName="supplier">
        <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{ supplier.name }}</option>
      </select>
    </label>
    
    <button type="submit" [disabled]="orderForm.invalid">Criar</button>
  </form>
</div>
