<div class="container mt-4">
    <div class="card">
        <!-- <h1>Cadastro de Mentor</h1> -->
        <form>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control"
                    id="name" placeholder="Informe o nome">
            </div>
            <div class="form-group">
                <label>Endereço</label>
                <input type="text" class="form-control" [(ngModel)]="address" [ngModelOptions]="{standalone: true}"
                    id="address" placeholder="Informe o endereço">
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" class="form-control" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"
                    id="phone" placeholder="Informe o número">
            </div>
            <div class="form-group">
                <label>Produto:</label> <!-- Alteração aqui: Altere o rótulo para "Produto" -->
                <select id="product" [(ngModel)]="product" name="product" [ngModelOptions]="{standalone: true}" required>
                  <option *ngFor="let product of ProductArray" [value]="product._id">{{ product.name }}</option> <!-- Alteração aqui: Substitua SubjectArray por ProductArray -->
                </select>
            </div>
            <button type="submit" (click)="save()" class="btn btn-primary">Cadastrar mentor</button>
        </form>
    </div>
</div>
<div class="container mt-4">
    <h1>Tabela de Mentores</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col">Produto</th> <!-- Alteração aqui: Altere o cabeçalho para "Produto" -->
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let MentorItem of MentorArray">
                <td class="bold-name">{{ MentorItem.name | uppercase }}</td>
                <td>{{ MentorItem.address }}</td>
                <td>{{ MentorItem.phone }}</td>
                <!-- Alteração aqui: Exibir o nome do produto associado ao mentor -->
                <td>{{ MentorItem.product.name }}</td>
                <td>
                    <button type="button" class="btn btn-success" (click)="setUpdate(MentorItem)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="setDelete(MentorItem)">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
